body{
    background-color: rgb(242, 186, 214);
}
h1{
    border: 2px solid rgb(83, 35, 17);
    width: 20vw;
    padding: 2px;
    position: relative;
    left: 100px;
    text-align: center;
    background-color: rgb(192, 212, 224);
    box-shadow: 5px 1px 10px;
}

.image{
    border: 5px solid  ;
    width: 200px;
    padding: 3px;
    margin: 2px;
    border-color: rgb(195 30 94);
    text-align: center;
    position:relative;
    left: 500px;
    box-shadow: 5px 1px 10px;
    background-color: #2b1818;
    
    
}    
p,ol,ul{
    font-weight: bold;
    
}
p{
    text-indent: 23px;
    
    letter-spacing: 0.5px;

}
span{
    position: relative;
    left: 140px;
    margin: 0;
    bottom: 3vw;
    text-decoration: underline;
    font: weight 400px;
    background-color: rgb(219, 239, 199);
}
h4{
    text-indent: 10px;
    background-color: rgb(246, 198, 198);
    width:300px;
    
    font-family:Arial, Helvetica, sans-serif;
}    